@import "../../main.scss";

.wrapper {
    width: rem(300px);
    height: rem(40px);
    border-radius: rem(20px);
    border: rem(1px) solid $firstColor;
    font-size: rem(20px);
    font-weight: 700;
    overflow: hidden;
}

.navList {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.navItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    color: $thirdColor;
    border-radius: rem(20px);

    &.active {
        color: $seventhColor;
        background: $firstColor;
        pointer-events: none;
    }
}

.textItem {
    display: flex;
    
}