@import "../../main.scss";

.wrapper {
    position: relative;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid $firstColor;
    font-size: $commonFontSize;
    font-weight: 700;
    overflow: hidden;
}

.navList {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    z-index: 10;
}

.navItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    color: $thirdColor;
    transition: color .2s .2s;
    
    &.active {
        transition: color .2s;
        color: $seventhColor;
        pointer-events: none;
    }
}

.textItem {
    display: flex;
    
}

.toggle {
    position: absolute;
    z-index: 0;
    border-radius: 20px;
    top: 0;
    height: 100%;
    background: $firstColor;
    
    &.left {
        transition: left .2s, right .2s .2s;
        left: 0;
        right: 50%;
    }

    &.right {
        transition: left .2s .2s, right .2s;
        left: 50%;
        right: 0;
    }
}

