@import "./main.scss";

body {
    font-family: "Alegreya Sans", sans-serif;
    font-size: $baseFontSize;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include tablets {
        font-size: $baseFontSize - 1px;
        // font-size: 2.34375vmin;
    }

    @include phones {
        font-size: $baseFontSize - 2px;
        // font-size: 3.75vmin;
    }
}

*   {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul  {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}