//colors
$dominant: #508F00;
$graphite: #484848;
$darkGrey: #A1A1A1;
$grey: #EEEDED;
$lightGray: #F9F9F9;
$white: #FFFFFF;
$yellow: #FFB800;

//breakpoints
$desktop1440: 1440px;
$desktop960: 960px;
$tablets760: 760px;
$phones480: 480px;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap');

$baseFontSize: 14px;
$commonFontSize: 20px;
$preMiddleFontSize: 24px;
$middleFontSize: 32px;
$titleFontSize: 48px;

//indentation
$headerHeight: 80px;
$desctop1Indentation: 80px;
$desctop2Indentation: 40px;

//setups
@import "./media.scss";

:export {
    dominant: $dominant;
    graphite: $graphite;
    darkGrey: $darkGrey;
    grey: $grey;
    lightGray: $lightGray;
    white: $white;
    yellow: $yellow;

    baseFontSize: $baseFontSize;
    commonFontSize: $commonFontSize;
    preMiddleFontSize: $preMiddleFontSize;
    middleFontSize: $middleFontSize;
    titleFontSize: $titleFontSize;

    headerHeight: $headerHeight;

    desctop1Indentation: $desctop1Indentation;
    desctop2Indentation: $desctop2Indentation;
}